<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Make new robot</h1>

  <form action="/robots" method="POST">
    Name: <input type="text" name="name" ><br/>
    lethal: <input type="text" name="lethal" value='t/f?'><br/>
    isDangerous:<input type="text" name="isDangerous" value='how dangerous?'><br/>
    weapon:<input type="text" name="weapon"><br/>

    <input type="submit">
  </form>


</body>
</html>
